<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>

<p style='text-align: center; font-size: 22px; font-weight: bold; line-height: 2em'>
In each code block below, complete the line(s) containing the word <span style='color: red; font-style: italic;'>'fill in'</span> or <span style='color: green; font-style: italic;'>pass</span>, de manière à obtenir le résultat attendu (<i>Expected output</i>)
</p>

<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>

## Python basics

### Dictionary

In [ ]:
dict_gen = {'<compléter>' for '<compléter>'}

print(dict_gen)

Expected output:

{0: 0, 1: 10, 2: 20, 3: 30, 4: 40}

### Set

In [ ]:
x = (1, 2, 3, 2)

s = '<compléter>'(x)

print(s)

Expected output:

{1, 2, 3}

### *args

In [ ]:
def add_many(*args):
    pass

add_many(100, 50, 3)

Expected output:

153

### **kwargs

In [ ]:
def to_dict(**kwargs):
    pass

to_dict(a=1, b=2, c=3)

### Unpact lists

In [ ]:
my_first_list = [1, 2, 3]
my_second_list = [4, 5, 6]
my_merged_list = '<compléter>'

print(my_merged_list)

Expected output:

[1, 2, 3, 4, 5, 6]

### Lists to dataframes

In [ ]:
import pandas as pd

l = [(x, x**2) for x in range(3)]
keys = ["x", "x^2"]
values = '<compléter>'
pd.DataFrame('<compléter>')

Expected output:

	x	x^2
0	0	0
1	1	1
2	2	4

### lambda functions

In [ ]:
power = '<compléter>' : '<compléter>'
power(3, 4)

Expected output:

81

### Iterators

In [ ]:
def loop_iterator(iterator):
    pass
        
iterator = iter(range(5))
loop_iterator(iterator)

Expected output:

0
1
2
3
4

### Classes inheritance

In [ ]:
class Rectangle():
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def area(self):
        return self.width * self.height
    
    def perimeter(self):
        return (self.width + self.height) * 2
    
class Rec_Triangle(Rectangle):
    """Should inherits from Rectangle"""
    pass

    
rec = Rec_Triangle(3, 2)

print(rec.area())
print(rec.perimeter())

Expected output:
    
3.0
8.60555127546399

## pandas dataframes

In [ ]:
import pandas as pd

### dict to dataframes

In [ ]:
D = '<compléter>'
pd.DataFrame(D)

Expected output:

	a	b
0	1	10
1	2	20

### tuples to dataframes

In [ ]:
a = '<compléter>'
b = '<compléter>'

data = dict([a, b])

pd.DataFrame(data)

Expected output:

   a   b
0  1  10
1  2  20

### lists to pandas dataframes

In [ ]:
def key_values_to_df(keys, values):
    pass

keys = ['a', 'b']
values = [[1, 2], [10, 20]]

key_values_to_df(keys, values)

Expected output:

	a	b
0	1	10
1	2	20

### Play with pandas dataframes

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

#### Read from file

In [2]:
df = pd.'<compléter>'("data/owners.csv")
df

        owner language      repo  stars  commits
0  pandas-dev   python    pandas  17800      133
1   tidyverse        R     dplyr   2800       52
2   tidyverse        R   ggplot2   3500       59
3      has2k1   python  plotnine   1450       38

Expected output:

        owner language      repo  stars  commits
0  pandas-dev   python    pandas  17800      133
1   tidyverse        R     dplyr   2800       52
2   tidyverse        R   ggplot2   3500       59
3      has2k1   python  plotnine   1450       38

#### Select by index

In [ ]:
df.iloc['<compléter>']

Expected output:

       repo
0    pandas
1     dplyr
2   ggplot2
3  plotnine

#### Apply sum on group-by

In [ ]:
df.groupby('language')'<compléter>'

Expected output:

language
R          6300
python    19250
Name: stars, dtype: int64

#### Apply multiple functions on group-by

In [ ]:
df.groupby("language")'<compléter>'.agg('<compléter>')

Expected output:

         stars               commits          
           min    max    sum     min  max  sum
language                                      
R         2800   3500   6300      52   59  111
python    1450  17800  19250      38  133  171

#### Filter on multiple arguments

In [ ]:
print(df[('<compléter>'=="python") '<compléter>' ('<compléter>'>5000)])

Expected output:

        owner language    repo  stars  commits
0  pandas-dev   python  pandas  17800      133

#### Pivot tables

In [3]:
medals = pd.read_csv('data/medals.csv')
medals

    medal  n team
0    Gold  1    A
1  Silver  1    A
2  Bronze  1    B
3    Gold  1    B
4  Silver  1    B
5  Silver  1    A

In [ ]:
medals.pivot_table('<compléter>')

Expected output:

medal  Bronze  Gold  Silver
team                       
A         NaN   1.0     2.0
B         1.0   1.0     1.0

#### Manipulate strings

##### Convert to uppercase

In [ ]:
data = pd.Series(['apple','banana','apple', 'banana'])
'<compléter>'

Expected output:

0     APPLE
1    BANANA
2     APPLE
3    BANANA
dtype: object

##### Contains pattern ('ba')

In [ ]:
'<compléter>'

Expected output:

0    False
1     True
2    False
3     True
dtype: bool

##### combine strings

In [ ]:
keys = ['first_name', 'last_name']
values = [['Roger', 'Rafael', 'Novak'], ['Federer', 'Nadal', 'Djokovic']]
df = '<compléter>'
df

In [ ]:
df['full_name'] = '<compléter>'
print(df)

Expected output:

  first_name last_name       full_name
0      Roger   Federer   Roger Federer
1     Rafael     Nadal    Rafael Nadal
2      Novak  Djokovic  Novak Djokovic

##### Split and expand

In [ ]:
'<compléter>'

Expected output:
    
        0         1
0   Roger   Federer
1  Rafael     Nadal
2   Novak  Djokovic

#### Map function

In [ ]:
df = pd.DataFrame({'eggs': [47, 110, 221], 'salt': [12.0, 50.0, 89.0]}, index = ['jan', 'feb', 'mar'])
df

In [ ]:
salt_classes = '<compléter>'
df['salt level'] = (df['salt'] > 80).'<compléter>'
print(df)

Expected output:

     eggs  salt salt level
jan    47  12.0        low
feb   110  50.0        low
mar   221  89.0       high

#### Dates

In [ ]:
x = pd.Series(["12/01/2017", "09/03/2018", "23/11/2019"]) 

pd.to_datetime('<compléter>')

Expected output:

0   2017-01-12
1   2018-03-09
2   2019-11-23
dtype: datetime64[ns]

#### Combine dataframes

##### concat

In [ ]:
eggs = pd.DataFrame({'eggs': [10, 20]})
salt = pd.DataFrame({'salt': [120, 240]})
pd.concat('<compléter>')

Expected output:

   eggs  salt
0    10   120
1    20   240

##### append

In [ ]:
df_1 = pd.DataFrame({'month': ['jan', 'feb'], 'eggs': [10, 12]})
df_2 = pd.DataFrame({'month': ['mar', 'apr'], 'eggs': [15, 18]})
df_1.append('<compléter>')

Expected output:

  month  eggs
0   jan    10
1   feb    12
2   mar    15
3   apr    18

##### merge outer

In [ ]:
df_1 = pd.DataFrame({'month': ['jan', 'feb'], 'eggs': [10, 12]})
df_2 = pd.DataFrame({'month': ['jan', 'mar'], 'salt': [152, 187]})
df_1.merge('<compléter>')

Expected ouput:

  month  eggs   salt
0   jan  10.0  152.0
1   feb  12.0    NaN
2   mar   NaN  187.0

##### merge left

In [ ]:
df_1.merge('<compléter>')

Expected output:
    
  month  eggs   salt
0   jan    10  152.0
1   feb    12    NaN

##### merge inner

In [ ]:
df_1.merge('<compléter>')

Expected output:
    
  month  eggs  salt
0   jan    10   152

#### Missing values

In [4]:
df = pd.read_csv('data/df_NA_1.csv')
df

     id  score
0  7134   75.0
1  4020   94.0
2  6757    NaN
3  2561   91.0
4  6875    NaN

In [ ]:
df.'<compléter>'

Expected output:

     id  score
0  7134   75.0
1  4020   94.0
2  6757   80.0
3  2561   91.0
4  6875   80.0

#### Reorganize data

In [ ]:
keys = ['Australia', 'Spain', 'France', 'Italy']
values = [24.6, 46.7, 67.0, 60.6]
df = pd.DataFrame(dict(zip(keys, values)), index=[0])
df

In [ ]:
'<compléter>'

Expected output:

     country  population
0  Australia        24.6
1      Spain        46.7
2     France        67.0
3      Italy        60.6

## Challenges

In [5]:
#####################
# Implemented for you
#####################

import os

def load(folder, filename):
    path = os.path.join(folder, filename)
    with open(os.path.join(path), 'r') as f:
        n = f.readline()
        values = f.readline().strip()
    return n, values

### Repeat strings

<p>There is a string, <span style="font-style: italic;">s</span>, of lowercase English letters that is repeated infinitely many times.</p>
<p>Given an integer, <span style="font-style: italic;">n</span>, find and print the number of letter <span style="font-style: italic;">a's</span> in the first <span style="font-style: italic;">n</span> letters of the infinite string.</p>

Example:
- s = 'abcac'
- n = 10

<p>The infinite string is abcacabcacabca ... cabcacabcacabcacabcacabcac ... </p>
<p>The substring of length <span style="font-style: italic;">n = 10</span> we consider is <span style="font-style: italic;">abcacabcac</span>, which corresponds to the first 10 characters of the infinite string.</p>
<p>In that substring there are <span style="font-style: italic;">4</span> occurrences of <span style="font-style: italic;">'a'</span></p>

In [6]:
def count_a(string, n):
    pass

n, string = load("repeated-string-testcases/input/", 'input00.txt')

print(f"s: {string}")
print(f"n: {n}")
print(f"a count: {count_a(string, int(n))}")

s: aba
n: 10

a count: None

Expected output:

a count: 7

### Cut the sticks

You are given N sticks, where the length of each stick is a positive integer. A cut operation is performed
on the sticks such that all of them are reduced by the length of the smallest stick.

example:
- Suppose we have six sticks of the following lengths: 5, 4, 4, 2, 2, 8
- Then, in one cut operation we make a cut of length 2 from each of the six sticks.
- For the next cut operation four sticks are left (of non-zero length), whose lengths are the following: 3 2 2 6,
  and again the smallest is of length 2.
- The above step is repeated until no sticks are left.

Given the length of N sticks, print the number of sticks that are left
<ins style="font-size: 16px; font-weight: bold">before</ins>
each subsequent cut operations.

<p style="font-style: italic; color: blue;">Note: before each cut operation, you must to get the length of smallest sticks, <b>excluding</b> zero-length sticks.</p>

In [7]:
def cut_the_sticks(sticks):
    pass

_, sticks = load("cut-the-sticks-testcases/input/", 'input08.txt')
sticks = [int(s) for s in sticks if s != ' ']

print(f"list of sticks: {sticks}")
cut_the_sticks(sticks)

list of sticks: [5, 4, 4, 2, 2, 8]

Expected output:

6
4
2
1

## Machine Learning basics

### Load packages

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split

%matplotlib inline

In [9]:
df = pd.read_csv('data/linear_reg_data.csv')
x = np.array(df.x).reshape(-1, 1)
y = np.array(df.y)

### Q-31 : Construire un scatter plot

In [ ]:
'<compléter>'
plt.show()

#### Expected output:
<img src='figures/lin_reg_0.png?1'>

### Q-32 : Construire des données d'apprentissage et test (conserver les proportions par défaut)

In [ ]:
x_train, x_test, y_train, y_test = '<compléter>'(x, y, random_state=42)

### Q-33 : initialiser et entrainer un modèle de régression linéaire sur les données d'apprentissage

In [ ]:
lin_reg = lm.LinearRegression()
lin_reg.fit('<compléter>')

### Q-34 : renvoyer le coefficient de détermination de la régression

In [ ]:
lin_reg.score('<compléter>')

Expected output:

0.893653472183284

### Q-35 : implémenter unr fonction RMSE() qui renvoie la moyenne des écarts quadratiques

In [ ]:
fitted = lin_reg.predict('<compléter>')

def RMSE(obs, fitted):
    """Compute the RMSE, given the observed and fitted values"""
    pass

print(f"<compléter>")

Expected output:

RMSE: 2.0311732316663704

### Q-36 : renvoyer l'ordonnée à l'origine (intercept) et la pente de la droite de régression

In [ ]:
print('y-intercept: %.3f' % lin_reg.'<compléter>')
print('slope: %.3f' % lin_reg.'<compléter>')

Expected output:
    
y-intercept: 0.183
slope: 1.963

### Q-37 : représenter le nuage de points et la droite de régression

In [ ]:
plt.scatter(x, y)
'<compléter>'
plt.show()

#### Expected output:
<img src='figures/lin_reg_1.png?1'>

### Lecture des données

In [ ]:
df = pd.read_csv('data/logistic_reg_data.csv')
df.head()

### Q-38 : Assigner les colonnes df.x et df.y aux variables x et y, respectivement

In [ ]:
x = '<compléter>'
y = '<compléter>'

### Q-39 : représenter les données

In [ ]:
'<compléter>'

#### Expected output:
<img src='figures/log_reg_0.png?1'>

### Q-39 : Construire des données d'apprentissage et de test (garder les proportions pas défaut)

In [ ]:
'<compléter>' = train_test_split(x, y, random_state=42)

### Q-40 : Initialier et entrainer le modèle sur les données d'apprentissage

In [ ]:
log_reg = lm.LogisticRegression()
log_reg.'<compléter>'('<compléter>')

### Q-41  : renvoyer la performance du modèle (accuracy)

In [ ]:
'<compléter>'

Expected output:

Accuracy: 0.72

### Q-42 : Contruire la table de contingence de la performance sur les prédictions (obs vs. predit)

In [ ]:
pred = log_reg.predict(x_test)
observed = y_test.reshape(1, -1)[0]

ct = pd.'<compléter>'(observed, pred).reset_index(drop=True)
ct

Expected output:

col_0  0   1
0      6   1
1      6  12

### Q-43 : Définir des fonctions permettant de renvoyer les métriques suivantes:

* Accuracy
* Precision
* Recall
* F1-score

In [ ]:
###################################
# Compléter les fonctions suivantes
###################################

def accuracy(observed, fitted):
    """Compute accurary, given observed and fitted values"""
    pass

def precision(observed, fitted):
    """Compute precision, given observed and fitted values"""
    pass

def recall(observed, fitted):
    """Compute recall, given observed and fitted values"""
    pass

def F1_score(observed, fitted):
    """Compute F1-score, given observed and fitted values"""
    pass

In [ ]:
print("Accuracy:\t%.2f" % accuracy(observed, pred))
print("Precision:\t%.2f" % precision(observed, pred))
print("Recall:\t\t%.2f" % recall(observed, pred))
print("F1-score:\t%.2f" % F1_score(observed, pred))

Expected outputs:
    
Accuracy:	0.72
Precision:	0.92
Recall:		0.67
F1-score:	0.77

### Q-44 : Calculer les probabilités <i>P(y = 1 | x)</i> à partir des coefficients de la régression

In [ ]:
new_x = np.linspace(np.min(x), np.max(x), 100)

b0, b1 = log_reg.'<compléter>', log_reg.'<compléter>'
z = '<compléter>'
prob = '<compléter>'
prob[:10], prob[-10:]

Expected output:

(array([0.97568396, 0.97370718, 0.97157439, 0.96927406, 0.96679393,
        0.96412102, 0.96124158, 0.95814109, 0.95480423, 0.95121492]),
 array([0.02861292, 0.02646645, 0.02447696, 0.02263353, 0.02092597,
        0.01934467, 0.01788069, 0.01652563, 0.01527167, 0.01411149]))

### Q-45 : Représenter les données originales et la courbe de régression logistique

In [ ]:
plt.scatter(x, y)
'<compléter>'
plt.show()

#### Expected output:
<img src='figures/log_reg_1.png?2'>

## Implémenter un KMeans de A à Z (from scratch)
<p style='font-size: 16px'>Evaluez votre code sur les données crabs</p>

In [ ]:
import pandas as pd

crabs = pd.read_csv('data/crabs.csv', sep=";")
crabs.head()

In [ ]:
def my_kmeans(X, n_center, n_start, max_iter):
    """
    Compute kmeans given n_centers
    
    Args:
        X (array): a nxp matrix, with n observations and p variables
        n_centers (int): the number of centers (clusters)
        n_start (int): the number of new initialization
        max_iter (int): the maximum number of iterations, in case the convergence is not reached.
        
    Returns:
        A vector of integers representing the cluster index for each observation
    """
    pass

#### Illustrative output (you may get slightly different results):
<img src='figures/Kmeans_crabs.png'>

<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>
<p style='text-align: center; font-weight: 900; font-size: 30px'>Etude de cas #1</p>
<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>

<p  style='font-weight: 600; font-size: 18px'>Un groupe leader des cosmétiques souhaite lancer une nouvelle crème de soin.</p>
<p  style='font-weight: 600; font-size: 18px'>La phase de lancement du produit est maitrisée, et les réponses des consommateurs au push d'un nouveau produit sont relativemnt bien estimées. En revanche, il est plus difficile de prédire les niveaux de vente qui suivront, après les 2 à 3 semaines de promotion.</p>
<p  style='font-weight: 600; font-size: 18px'>Dans ce contexte de mise sur le marché d'un nouveau produit, quelle(s) stratégie(s) ou approche(s) pourriez-vous proposer afin d'estimer les niveaux de ventes de ce nouveau produit, après la phase de lancement. La production doit être plannifiée 2 semaines à l'avance.</p>

Vos propositions
------------------

<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>
<p style='text-align: center; font-weight: 900; font-size: 30px'>Etude de cas #2</p>
<p style='text-align: center; font-weight: 900; font-size: 30px'>----------------------------------------</p>

### 3 datasets sont disponible au format .csv dans votre répertore data/

* airports_full.csv
* flights_small.csv
* planes.csv

### Recherchez des informations sur ces données publiques pour comprendre le contenu de chaque champ

Ressources possibles:

* https://openflights.org/data.html#airline
* https://cran.r-project.org/web/packages/nycflights13/nycflights13.pdf

### Procédez à une analyse descriptive

### Proposez un modèle prédictif des retards

In [ ]:
#####################
# Charger les données
#####################
import pandas as pd

airports = pd.read_csv('data/airports_full.csv')
flights = pd.read_csv('data/flights_small.csv')
planes = pd.read_csv('data/planes.csv')

In [ ]:
# Charger les librairies (choix libre)